<!DOCTYPE html></DOCTYPE!>
<html lang="en">

<head>
    <title>Wired Users Profile Information</title>
    <script src="/scripts/main.js"></script>
    <script type="text/javascript" src="/scripts/jquery.js"></script>
    <script type="text/javascript" src="/scripts/moment.js"></script>
    <script type="text/javascript" src="/scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="/scripts/bootstrap-datetimepicker.js"></script>

    <link href="/styles/main.css" rel="stylesheet">
    <link href="/styles/wired_styles.css" rel="stylesheet">
    <script type="text/javascript" src="/styles/bootstrap.min.css"></script>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/logout">Logout</a></li>
            <li><a href="/">Homepage</a></li>
        </ul>
    <%
        calcAge = function(dob) {
            var d = new Date(dob);
            var today = new Date();
            return today.getFullYear() - d.getFullYear();
        }
    %>
    <%
        formatDate = function(date, size="short") {
        var options = { "short": { weekday: 'short',
                                   year: 'numeric',
                                   month: 'long',
                                   day: 'numeric' },
                        "long":  { weekday: 'long',
                                   year: 'numeric',
                                   month: 'long',
                                   day: 'numeric' },
                        "tiny":  { year: 'numeric',
                                   month: '2-digit',
                                   day: '2-digit' }
                      }

            var enroll = new Date(date);
            return enroll.toLocaleDateString("en-US", options[size]);
        }
    %>
    <div class="col-md-12"  style="display:inline-block">
        <div class="col-md-3 main-nav user-profile-info wired-pos-rel">
            <div id="profile_card" class="wired_profile wired-pos-abs">
                <h3> Profile Information</h3>
                <p>Name: <span id="pname"></span></p>
                <p>DOB: <span id="pdob"></span>
                (<span id="page"></span>)</p>
                <p>Address: <span id="paddress"></span></p>
                <p>Description: <span id="pdescription"></span></p>
                <p>Current Position: <span id="pposition"></span></p>
                <p>Enroll Date: <span id="penroll"></span></p>
            </div>
            <% if (typeof errors !== "undefined") { 
               console.log(errors);
            %>

            <div class="main-nav wired-pos-abs wired-errors">
                <h3>  Validation Errors</h3>
                <ul>
                    <% for (const errObj of errors) {
                           for (let [key, value] of Object.entries(errObj)) {  %>
                                <li><%= value %></li>
                        <% }
                       } %>
                </ul>
            </div>
            <% } %>
        </div>
        <div class="col-md-9 wired-pos-rel">
            <div class="wired_table">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Age</th>
                            <th>DoB</th>
                            <th>Address</th>
                            <th>Description</th>
                            <th>Enroll Date</th>
                            <th></th>
                            <th style="display:none"></th>
                        </tr>
                    </thead>
                    <tbody>
                    <% 
                        for (const user of users) { 
                    %>
                    <tr id="<%= user.id %>" onclick="loadProfile(this)"> 
                            <td name="name"><%= user.name %></td>
                            <td name="age"><%= calcAge(user.dob) %></td>
                            <td name="dob"><%= formatDate(user.dob, "tiny") %></td>
                            <td name="address"><%= user.address %></td>
                            <td name="description"><%= user.description %></td>
                            <td name="enroll"><%= formatDate(user.createdAt, "tiny") %></td>
                            <td>
                                <input class="edit-btn" type="image" src="/images/dot.png" onclick="loadEditor(this, '<%= user.id %>'); return false;">
                                <input class="delete-btn confirmation" type="image" src="/images/dot.png">
                            </td>
                            <td name="position" id="coords" style="display:none"><%= user.position.coordinates[0] + " : " + user.position.coordinates[1]%></td> 
                        </tr>    
                    <%
                        }      
                    %>
                    </tbody>
                </table>
            </div>
            <% if (typeof message !== "undefined") { %>
                <div class="col-md-9 wired-msg-pos-abs fade-out">
                    <span class="message"><%= message %></span>
                </div>
            <% } %>
            <div class="col-md-9 wired-pos-abs wired-form">
                <form id="wired_user_form" action="/user/enroll" method="POST" style="margin-top: 10px" >
                    <section>
                    <input type="hidden" name="id" id="id" />
                    <label>Name</label><input id="name" name="name" type="text"/>
                    <br>
                    <label>Date of Birth</label><input id="dob" name="dob" type="text"/>
                    <br>
                    <label>Address</label><input id="address" name="address" type="text"/>
                    <br>
                    <label>Description</label><textarea rows=4 cols=80  id="description" name="description"></textarea>
                    </section>
                    <br style="clear:both;" />
                    <section id="position">
                        <div class="group">
                            <label for="lng">Lng</label><br/>
                            <input id="lng" type="text" size=8 value="" name="lng">
                        </div>

                        <div class="group">
                            <label for="lat">Lat</label><br/>
                            <input id="lat" type="text" size=8 value="" name="lat">
                        </div>
                    </section>
                    <br>
                    <input id="sub-btn" type="Submit" Value="Add User" />
                    <span id="cancel_link" style="visibility: hidden">
                        <a href="#" onclick="cancelEdit(); return false;">Cancel</a>
                    </span>
                </form>
            </div>
        </div>
    </div>
</body>
    <script>
        let dobpicker = $('#dob').datetimepicker({
                                  format: 'YYYY-MM-DD'
                                  });

         <% if (typeof target !== "undefined") { %>
                 
                 document.getElementById("<%= target %>").click();
         <% } %>
    </script>
