<!DOCTYPE html></DOCTYPE!>
<html lang="en">

<head>
    <script src="/scripts/main.js"></script>
    <script type="text/javascript" src="/scripts/jquery.js"></script>
    <script type="text/javascript" src="/scripts/moment.js"></script>
    <script type="text/javascript" src="/scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="/scripts/bootstrap-datetimepicker.js"></script>

    <link href="/styles/main.css" rel="stylesheet">
    <link href="/styles/wired_styles.css" rel="stylesheet">
    <script type="text/javascript" src="/styles/bootstrap.min.css"></script>
</head>
<body>
    <%
        calcAge = function(dob) {
            var d = new Date(dob);
            var today = new Date();
            return today.getFullYear() - d.getFullYear();
        }
    %>
    <%
        formatDate = function(date, size="short") {
        var options = { "short": { weekday: 'short',
                                   year: 'numeric',
                                   month: 'long',
                                   day: 'numeric' },
                        "long":  { weekday: 'long',
                                   year: 'numeric',
                                   month: 'long',
                                   day: 'numeric' },
                        "tiny":  { year: 'numeric',
                                   month: '2-digit',
                                   day: '2-digit' }
                      }

            var enroll = new Date(date);
            return enroll.toLocaleDateString("en-US", options[size]);
        }
    %>
    <div class="col-md-12 style="display:inline-block">
        <div class="col-md-3 main-nav user-profile-info">
            <div id="profile_card" class="wired_profile">
                <h3> Profile Information</h3>
                <p>Name: <span id="pname"></span></p>
                <p>DOB: <span id="pdob"></span>
                (<span id="page"></span>)</p>
                <p>Address: <span id="paddress"></span></p>
                <p>Description: <span id="pdescription"></span></p>
                <p>Enroll Date: <span id="penroll"></span></p>
            </div>
        </div>
        <div class="col-md-9 wired-pos-rel">
            <div class="wired_table">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Age</th>
                            <th>DoB</th>
                            <th>Address</th>
                            <th>Description</th>
                            <th>Enroll Date</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    <% 
                        for (const user of users) { 
                    %>
                        <tr onclick="loadProfile(this)"> 
                            <td name="name"><%= user.name %></td>
                            <td name="age"><%= calcAge(user.dob) %></td>
                            <td name="dob"><%= formatDate(user.dob, "tiny") %></td>
                            <td name="address"><%= user.address %></td>
                            <td name="description"><%= user.description %></td>
                            <td name="enroll"><%= formatDate(user.createdAt, "tiny") %></td>
                            <td>
                                <input class="edit-btn" type="image" src="/images/dot.png" onclick="loadEditor(this); return false;">
                                <input class="delete-btn" type="image" src="/images/dot.png">
                            </td>
                        </tr>    
                    <%      
                        }      
                    %>
                    </tbody>
                </table>
            </div>
            <div class="col-md-9 wired-pos-abs">
                <form id="user_form" style="margin-top: 10px">
                    <labal>Name</label><input id="name" type="text"/>
                    <br>
                    <label>Date of Birth</label><input class="input-group-date" id="dob" type="text"/>
                    <br>
                    <label>Address</label><input id="address"  type="text"/>
                    <br>
                    <label>Description</label><input id="description"  type="text"/>
                    <br>
                    <input id="sub-btn" type="Submit" Value="Add User" />
                </form>
            </div>
        </div>
    </div>
</body>
    <script>
        let dobpicker = $('#dob').datetimepicker({
                                  format: 'YYYY-MM-DD'
                                  });
    </script>
